<div class="bgimg">

<div class="container-fluid container-baner ">

    <h1>سامانه نوبت دهی اینترنتی پزشکی سرتاسر کشور</h1>
    <p>دسترسی سریع اسان به بهترین تخصص هاو پزشکان و مراکز درمانی تنها با چند کلید!</p>


    <div class="p-2 mb-2 bg-white  text-white rounded">
    <div class="input-group input-group-lg bg-w ">

      <input type="text" class="form-control rounded  bg-light" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="تخصص پزشک یا مراکز در مانی را جستجو کنید">
      <div class="input-group-prepend ">
        <button class="btn  btn-outline-success dropdown-toggle rounded mr-3 bg-light" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
          همه دسته بندی
        </button>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="p-3 mb-2 bg-light text-white box-end  text-center row justify-content-center">
    <h3 class="text-dark bold font-weight-bold">همین حالا نوبت انلاین خود را دریافت کنید!</h3>
    <button type="button" class="btn btn-success mr-3">دریافت نوبت اینترنتی</button>
  </div>

