.container-custom{
  height: 300px;

}
.skil{

  background: #FFEEE9;
  border-radius: 50px 50px 80px 80px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
   align-items: center;
   gap: 8px;
   display: inline-flex
}
h3{
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  word-wrap: break-word;
}
p{
  font-weight: 200
}
